body {
    background-color: #dedede;
}

table {
    margin: 20px auto;
}

table tr td {
    width: 200px;
    height: 200px;
    border: 1px solid #ff0000;
    background-color: #fff;
    text-align: center;
    font-size: 60px;
}

.otile {
    color: red;
}

.xtile {
    color: green;
}

#user-message {
    margin: 20px auto;
    background-color: white;
    color: gray;
    text-align: center;
    padding: 10px 20px;
    width: 600px;
    display: none;
}